header, .menu, footer {
    margin: 0 auto;
    text-align: center;
}

.menu {
    text-align: center;
    background: cornflowerblue;
}

.menu #welcomeMenu {
    padding: 5px;
}

.menu li a {
    text-decoration: none;
}

.menu ul {
    -webkit-padding-start: 0;
}

ul li {
    display: inline-block;
    padding: 5px;
}